.content {
    background-color: #D1944B;
    height: 100vh;
    padding: 16px;
}

.info-container {
    border: 2px solid #AE3D5E;
    border-radius: 8px;
    display: flex;
    padding: 48px;
    justify-content: space-evenly;
}

.player-info {
    border: 2px solid #AE3D5E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
    padding: 8px;
}

.story {
    border: 2px solid #AE3D5E;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3rem;
    margin: 8px;
    padding: 8px;
    text-align: center;
}

h3 {
    color: #F3F4F0;
    padding: 4px;
}

.story {
    text-align: center;
}

.player-options {
    display: flex;
    justify-content: space-evenly;
    margin: 8px;
    padding: 8px;
}

.player-options button {
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    width: 300px;
}